.Bronze {
    background-color: #CD7F32;
}

.Silver {
    background-color: grey;
}

.Gold {
    background-color: #FFD700;
}

.Platinum {
    background-color: #e5e4e2;
}


.New {
    background-color: #ADD8E6;
}